<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FP</servlet-name>
        <servlet-class>FP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Imgpwd</servlet-name>
        <servlet-class>Imgpwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gpin</servlet-name>
        <servlet-class>Gpin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VGpin</servlet-name>
        <servlet-class>VGpin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vimg</servlet-name>
        <servlet-class>Vimg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FP</servlet-name>
        <url-pattern>/FP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Imgpwd</servlet-name>
        <url-pattern>/Imgpwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gpin</servlet-name>
        <url-pattern>/Gpin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VGpin</servlet-name>
        <url-pattern>/VGpin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vimg</servlet-name>
        <url-pattern>/Vimg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
